<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        .blue-text{
            color:#081078;
        }
        .golden-text{
            color:#c59500;
        }
        .golden-line{
            border-color:#c59500;
            border:5px;
        }
    </style>

</head>
<body>
<div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="panel panel-body panel-primary">
        <div class="row">
            <img class="col-xs-6 col-xs-offset-3" src="https://hnb-assurance-bot.herokuapp.com/images/logo.jpg" alt="logo-image">
        </div>
        <div class="hidden-lg hidden-md">
            <hr class="golden-line">
            <h1 class="text-center blue-text"><b>Would you like to have a</b></h1>
            <div class="row">
                <a href="https://www.hnbassurance.com/eLife/term.php">
                    <div class="col-xs-6" style="background: gold;min-height: 200px">
                        <h3 style="color:black"><b>Higher life cover for a lower premium?</b></h3>
                    </div>
                </a>
                <a href="https://www.hnbassurance.com/eLife/endowment.php">
                    <div class="col-xs-6" style="background: blue;min-height: 200px">
                        <h3 style="color:white"><b>Life cover with a maturity payment at the end of term?</b></h3>
                    </div>
                </a>
            </div>
            <p>HNB Assurance e-Life comes with two Life Insurance options. Select between a <b> policy with a higher life cover for a lower premium </b> or a <b>policy with a maturity payment at end of the term</b>.</p>
        </div>
        <div class="hidden-xs hidden-sm">
            <hr class="golden-line">
            <h1 class="text-center blue-text"><b>Would you like to have a</b></h1>
            <div class="row">
                <a href="https://www.hnbassurance.com/eLife/term.php">
                    <div class="col-xs-6" style="background: gold;min-height: 140px">
                        <h3 style="color:black"><b>Higher life cover for a lower premium?</b></h3>
                    </div>
                </a>
                <a href="https://www.hnbassurance.com/eLife/endowment.php">
                    <div class="col-xs-6" style="background: blue;min-height: 140px">
                        <h3 style="color:white"><b>Life cover with a maturity payment at the end of term?</b></h3>
                    </div>
                </a>
            </div>
            <p style="text-align: justify">HNB Assurance e-Life comes with two Life Insurance options. Select between a <b> policy with a higher life cover for a lower premium </b> or a <b>policy with a maturity payment at end of the term</b>.</p>
        </div>
    </div>
</div>
</body>
</html>